<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User by ID</title>
</head>
<body>
     <h1>User by ID</h1>

<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="logout">
    </form>
    <hr/>
    <table>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Bank Account</th>
            <th>Role</th>

        </tr>
        <tr>
            <td th:text="${user.getId()}">Id</td>
            <td th:text="${user.getFirstName()}">First Name</td>
            <td th:text="${user.getLastName()}">Last Name</td>
            <td th:text="${user.getBankAccount()}">Bank Account</td>
            <td th:text="${user.getRoles()}">Role</td>
        </tr>
    </table>
    <br>
    <form th:method="PATCH" th:action="@{/admin/users/update(id=${user.id})}" th:object="${user}">
        <button style="background: mintcream" type="submit">Update</button>
    </form>
    <br>
    <form th:method="DELETE" th:action="@{/admin/users/delete(id=${user.id})}">
        <input type="hidden" name="id" th:value="${user.id}">
        <button style="background: moccasin" type="submit" value="Delete">Delete</button>
    </form>
    <br/>
    <form th:action="@{/admin}">
        <button type="submit">Back</button>
    </form>
</div>
</body>
</html>