<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<h2>New User</h2>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="logout">
    </form>
    <br>
    <form method="POST" th:action="@{/admin/users/add}" th:object="${user}">
        <fieldset>
            <legend>New User</legend>
            <p>
                <label th:for="firstName">FirstName</label>
                <input type="text" th:field="*{firstName}" id="firstName"/><br/>
            </p>
            <p>
                <label th:for="lastName">LastName</label>
                <input type="text" th:field="*{lastName}" id="lastName"/><br/>
            </p>
            <p>
                <label th:for="bankAccount">Bank Account</label>
                <input type="text" name="bankAccount" th:field="*{bankAccount}" id="bankAccount"/><br/>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" th:field="*{password}" id="password"/><br/>
            </p>
            <p>
                <label>Select role:</label>
                <br/>
                <input type="checkbox" th:field="*{roles}" th:value=1/>Admin<br/>
                <input type="checkbox" th:field="*{roles}" th:value=2/>User<br/>
            </p>
        </fieldset>
        <br/>
        <button style="background: lightgray" type="submit">Save User</button>
    </form>
    <br/>
    <form th:action="@{/admin/users}">
        <button style="background: lightgray" type="submit" class="btn btn-outline-danger">Back</button>
    </form>
</div>
</body>
</html>