<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Admin. All Users</title>
</head>
<body>
<h1>All Users</h1>
<div>

    <hr/>
    <table>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Bank Account</th>
            <th>Role</th>
        </tr>

        <tr th:each="user : ${userList}">
            <td th:text="${user.getId()}">Id</td>
            <td th:text="${user.getFirstName()}">First Name</td>
            <td th:text="${user.getLastName()}">Last Name</td>
            <td th:text="${user.getBankAccount()}">Bank Account</td>
            <td th:text="${user.getRoles()}">Role</td>

            <td>
                <form th:action="@{/admin/users/update/{id}(id=${user.getId()})}" th:object="${user}">
<!--                    <input type="hidden" name="id" th:value="${user.getId()}">-->
                    <button style="background: mintcream" type="submit">Update</button>
                </form>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/admin/users/delete/{id}(id=${user.getId()})}">
                    <input type="submit" value = "Delete user"/>
                </form>
            </td>
        </tr>
    </table>
    <br>
    <form th:action="@{/admin/users/add}">
        <button style="background: lightgray" type="submit">Add new User</button>
    </form>
    <br>
    <form th:action="@{/logout}" method="post">
        <input style="background: lightgray" type="submit" value="logout">
    </form>
</div>

</body>
</html>